<mat-toolbar class="post-toolbar-container">
  <!-- Markdown toolbar -->
  <app-markdown-toolbar
    *ngIf="showMarkdownToolbar"
    targetId="textarea_id"
  ></app-markdown-toolbar>

  <span class="spacer"></span>

  <div class="end-container">
    <!-- Edit button -->
    <button
      class="btn"
      *ngIf="!editMode"
      mat-icon-button
      (click)="onEditClick()"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <ng-container *ngIf="editMode">
      <button
        mat-stroked-button
        class="mr-2"
        color="primary"
        (click)="onEditClick()"
      >
        Annuler
      </button>
      <button mat-flat-button color="primary" (click)="onValidateClick()">
        Valider
      </button>
    </ng-container>
  </div>
</mat-toolbar>
