<div class="w-100">
  <div class="grid-container">
    <div class="kuzzle colored-on-hover">
      <div class="img-container">
        <img src="assets/images/kuzzle.jpg" alt="kuzzle screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">
          Développement d'une plateforme IoT avec Kuzzle
        </span>
      </div>
    </div>

    <div class="main">
      <mat-toolbar color="primary">
        <a mat-flat-button>ACCUEIL</a>
        <a mat-flat-button>A PROPOS</a>
        <a mat-flat-button>PROJETS</a>
        <a mat-flat-button>CONTACT</a>
      </mat-toolbar>

      <div class="landing-page-main-content">
        <span class="job">Développeur Java & Angular</span>
        <h1>NICOLAS DESNOUST</h1>
        <span class="content"
          >Lorem ipsum dolor sit amet <br />
          consectetuer adipiscing elit <br />
          sed diam nonummy.</span
        >
      </div>
    </div>

    <div class="tile"></div>

    <div class="marble-wars colored-on-hover">
      <div class="img-container">
        <img src="assets/images/marble-wars.jpg" alt="marble-wars screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">
          Développement d'un jeu dans le style de «&nbsp;Zuma Revenge&nbsp;»
        </span>
      </div>
    </div>

    <div class="tutoriels colored-on-hover">
      <div class="img-container">
        <img src="assets/images/tutoriels.jpg" alt="tutoriels screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">
          Développement d'une application exposant des tutoriels rédigés en
          Markdown
        </span>
      </div>
    </div>

    <div class="np-c colored-on-hover">
      <div class="img-container">
        <img src="assets/images/np-c.jpg" alt="np-c screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description"
          >Développement d'algorithmes NP-Complets</span
        >
      </div>
    </div>

    <div class="e-com colored-on-hover">
      <div class="img-container">
        <img src="assets/images/e-com.jpg" alt="e-com screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">
          Développement d'une application d'E-commerce
        </span>
      </div>
    </div>

    <div class="linked-in colored-on-hover">
      <div class="img-container">
        <img src="assets/images/linkedin.jpg" alt="linkedin screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">LinkedIn</span>
      </div>
    </div>

    <div class="github colored-on-hover">
      <div class="img-container">
        <img src="assets/images/github.jpg" alt="github screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">Github</span>
      </div>
    </div>

    <div class="ascenseur colored-on-hover">
      <div class="img-container">
        <img src="assets/images/ascenseur.jpg" alt="ascenseur screenshot" />
      </div>
      <div class="img__description_layer">
        <span class="img__description">
          Développement du système de contrôle-commande d'un ascenseur
        </span>
      </div>
    </div>

    <div class="tile2"></div>
    <div class="tile3"></div>
    <div class="tile4"><img src="assets/images/tile-01.svg" /></div>
    <div class="tile5"></div>
    <div class="tile6"></div>
    <div class="tile7"></div>
    <div class="tile8"></div>
    <div class="tile9"></div>
    <div class="tile10"></div>
    <div class="tile11"></div>
  </div>
</div>
