:host {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;

  .mat-toolbar {
    margin-top: 2rem;
    justify-content: center;
  }

  .landing-page-main-content {
    text-align: center;
    margin-top: 5rem;

    .job {
      font-size: 19px;
      color: #7a888f;
    }

    .content {
      font-size: 18px;
      color: #7a888f;
      line-height: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  h1 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #012b45;
    font-size: 37px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 5px;
  }

  .grid-container {
    display: grid;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'kuzzle main main main tile2 tile3 github'
      'tile main main main ascenseur tile4 tile5'
      'marble-wars main main main tile6 linked-in tile7'
      'tile8 tile9 tutoriels tile10 np-c tile11 e-com';

    > div {
      overflow: hidden;
    }

    /* Gray Scale */
    .colored-on-hover {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
    }
    .colored-on-hover:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      filter: grayscale(0);
    }
  }

  img {
    max-width: 100%;
    min-width: 80%;
    max-height: 90%;
  }

  .img-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  [class^='tile'] {
    background-color: rgb(41, 41, 97);
  }

  .kuzzle {
    grid-area: kuzzle;
    background: url('/assets/images/kuzzle-background.jpg') repeat center center;
    background-size: cover;
    cursor: pointer;
  }

  .img__description_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a4380e0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;

    /* transition effect. not necessary */
    -webkit-transition: opacity 0.5s, visibility 0.5s ease-in-out;
    transition: opacity 0.5s, visibility 0.5s ease-in-out;
    -moz-transition: opacity 0.5s, visibility 0.5s ease-in-out;
  }

  .colored-on-hover:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    // transition-delay: .1s;
  }

  .img__description {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    // transition-delay: .1s;
    transform: translateY(1em);
    p {
      margin: 0;
    }
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
  }

  .colored-on-hover:hover .img__description {
    transform: translateY(0);
  }

  .main {
    grid-area: main;
    background-color: white;
  }

  .marble-wars {
    grid-area: marble-wars;
    background-color: #000000;
    background-size: cover;
    cursor: pointer;
  }

  .tutoriels {
    grid-area: tutoriels;
    background-color: #393b47;
    background-size: cover;
    cursor: pointer;
  }

  .np-c {
    grid-area: np-c;
    background-color: #ffffff;
    background-size: cover;
    cursor: pointer;
  }

  .e-com {
    grid-area: e-com;
    background-color: #fff9f3;
    background-size: cover;
    cursor: pointer;
  }

  .linked-in {
    grid-area: linked-in;
    background-color: #4974a1;
    background-size: cover;
    cursor: pointer;
  }

  .github {
    grid-area: github;
    background-color: #25282f;
    background-size: cover;
    cursor: pointer;
  }

  .ascenseur {
    grid-area: ascenseur;
    background-color: #f4f4f4;
    background-size: cover;
    cursor: pointer;
  }

  .tile {
    grid-area: tile;

    background-image: url('/assets/images/tile-03-part-01.png'),
      url('/assets/images/tile-03-part-02.png');
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #c3d1dc;
  }

  .tile2 {
    grid-area: tile2;

    background-image: url('/assets/images/tile-08-part-01.png'),
      url('/assets/images/tile-08-part-02.png'),
      url('/assets/images/tile-08-part-03.png'),
      url('/assets/images/tile-08-part-04.png');
    background-position: bottom, bottom, top, top;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain, contain;
    background-color: #c4d2dd;
  }

  .tile3 {
    grid-area: tile3;

    background-image: url('/assets/images/tile-04-part-01.png'),
      url('/assets/images/tile-04-part-02.png'),
      url('/assets/images/tile-04-part-03.png');
    background-position: left, top right, bottom left;
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-color: #fefff8;
  }

  .tile4 {
    grid-area: tile4;
    background-color: #1a4280;
    justify-content: center;
    display: flex;
    align-items: center;

    img {
      min-width: 60%;
    }
  }

  .tile5 {
    grid-area: tile5;

    background-image: url('/assets/images/tile-07-part-01.png'),
      url('/assets/images/tile-07-part-02.png'),
      url('/assets/images/tile-07-part-03.png');
    background-position: bottom, top, top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-color: #fcfef7;
  }

  .tile6 {
    grid-area: tile6;

    background-image: url('/assets/images/tile-09-part-01.png'),
      url('/assets/images/tile-09-part-02.png');
    background-position: center, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #fff8f1;
  }

  .tile7 {
    grid-area: tile7;

    background-image: url('/assets/images/tile-06-part-01.png'),
      url('/assets/images/tile-06-part-02.png'),
      url('/assets/images/tile-06-part-03.png');
    background-position: top, bottom, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-color: #c4d2dd;
  }

  .tile8 {
    grid-area: tile8;

    background-image: url('/assets/images/tile-04-part-01.png'),
      url('/assets/images/tile-04-part-02.png'),
      url('/assets/images/tile-04-part-03.png');
    background-position: left, top right, bottom left;
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-color: #fefff8;
  }

  .tile9 {
    grid-area: tile9;
    background: url('/assets/images/tile-02.jpg') center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
  }

  .tile10 {
    grid-area: tile10;

    background-image: url('/assets/images/tile-05-part-01.png'),
      url('/assets/images/tile-05-part-02.png');
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #fefff8;
  }

  .tile11 {
    grid-area: tile11;

    background-image: url('/assets/images/tile-03-part-01.png'),
      url('/assets/images/tile-03-part-02.png');
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #c3d1dc;
  }
}
