<ng-container
  *ngIf="{
    post: post$ | async,
    userLoggedIn: userLoggedIn$ | async
  } as observables"
>
  <app-post-toolbar
    *ngIf="observables.userLoggedIn"
    [showMarkdownToolbar]="editMode"
    [editMode]="editMode"
    (editModeEmitter)="toggleEditMode()"
    (validateChanges)="savePost(observables.post)"
  ></app-post-toolbar>

  <span *ngIf="!observables.userLoggedIn" class="vertical-spacer"></span>

  <div class="main-content" *ngIf="observables.post">
    <form *ngIf="editMode" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <app-markdown-editor [control]="descriptionControl">
      </app-markdown-editor>
    </form>

    <div *ngIf="!editMode">
      <h1 [ngClass]="routeAnimationsElements">{{ observables.post.title }}</h1>

      <app-table-of-contents
        [ngClass]="routeAnimationsElements"
        *ngIf="showTableOfContents"
        limit="5"
      >
      </app-table-of-contents>

      <markdown
        [ngClass]="routeAnimationsElements"
        emoji
        testDir
        addCodeHeaders
        (error)="onError($event)"
        [data]="observables.post.content"
        (ready)="onReady(observables.post.content)"
      >
      </markdown>
    </div>
  </div>
</ng-container>
