@import '~@angular/material/theming';

@mixin post-details-component-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  $code-background-color: mat-color($background, code-block);
  $code-block-background-color: mat-color($background, code-block);

  .main-content {
    blockquote {
      padding: 0.7rem 1rem 0.7rem 1rem;
      margin-left: 0;
      border-color: mat-color($accent);
      background-color: mat-color($accent, A400, 10%);
      border-left-width: 4px;
      border-left-style: solid;

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    table {
      background-color: #1d1f21;

      th,
      td {
        border: 1px solid #636f8566;
      }

      tbody {
        tr:nth-child(odd) {
          background-color: #5fb1e009;
        }
      }
    }

    .code-header {
      background-color: $code-block-background-color;

      .btn {
        background-color: $code-block-background-color;
      }
    }

    code {
      background-color: $code-background-color;
      color: mat-color($accent);
    }

    pre {
      background-color: $code-block-background-color;

      > code {
        background-color: $code-block-background-color;
      }
    }
  }
}
