<!-- MAIN NAVIGATION LIST -->
<mat-nav-list>
  <!-- MAIN LIST ITEMS -->
  <mat-expansion-panel *ngFor="let category of categories">
    
    <!-- MAIN ITEM HEADERS -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ category.label }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <!-- SUB ITEMS -->
    <a mat-list-item 
       *ngFor="let post of category.posts"
       [routerLink]="'tutoriels/' + post.category + '/' + post.id"
       routerLinkActive="active-link">
      <span matLine>{{ post.title }}</span>
    </a>

  </mat-expansion-panel>
</mat-nav-list>