<div class="wrapper">
  <div class="w-full h-full login-container" fxLayout="row wrap">
    <span class="login-title text-center mb-24">Connexion</span>
    <mat-card class="mat-elevation-z0 m-auto">
      <form [formGroup]="loginForm" class="form-field-full">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <mat-icon matSuffix>mail_outline</mat-icon>
          <input
            matInput
            placeholder="e-mail"
            formControlName="username"
            required
          />
          <!-- <mat-error *ngIf="username.invalid">
            {{'login.please_enter' | translate}} <strong>ng-matero</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <mat-icon matSuffix>lock_open</mat-icon>
          <input
            matInput
            placeholder="mot de passe"
            type="password"
            formControlName="password"
            required
          />
          <!-- <mat-error *ngIf="password.invalid">
            {{'login.please_enter' | translate}} <strong>ng-matero</strong>
          </mat-error> -->
        </mat-form-field>

        <!-- <div class="m-y-16" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-checkbox>{{'login.remember_me' | translate}}</mat-checkbox>
        </div>
   -->
        <button
          class="w-100 login-button"
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          se connecter
        </button>

        <!-- <div class="m-t-16">{{'login.have_no_account' | translate}}?
          <a routerLink="/auth/register">{{'login.create_one' | translate}}</a>
        </div> -->
      </form>
      <app-easy-divider></app-easy-divider>

      <button
        class="w-100 login-button social-button google-button"
        mat-flat-button
        (click)="login()"
      >
        <i class="fab fa-google"></i> se connecter avec Google
      </button>
      <button
        class="w-100 login-button mt-3 social-button github-button"
        mat-flat-button
        (click)="login()"
      >
        <i class="fab fa-github"></i> se connecter avec Github
      </button>
    </mat-card>
  </div>
</div>
