@import "~@angular/material/theming";

@mixin login-component-theme($theme) {
  $background: map-get($theme, background);
  $is-dark: map-get($theme, is-dark);
  $background-color: mat-color($background, login-background);

  @if $is-dark {
    .wrapper {
      background: $background-color;
    }
  } @else {
    .wrapper {
      background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);

      .mat-card {
        border: 1px solid #4b5b741c;
      }
    }

    .wrapper::before {
      background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
    }
  }
}
