:host {
  display: flex;
  width: 100%;
}

.algolia-credit {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  opacity: 0.82;
  position: sticky;
}

.search-form-field {
  flex-grow: 1;
  width: 100%;
}

::ng-deep .mat-form-field-placeholder {
  color: red;
}

::ng-deep .mat-toolbar {
  font-size: 14px;
}

$searchbar-height: 50px;

.searchbar {
  align-items: center;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: $searchbar-height;
  width: 100%;
  z-index: 1;
  display: flex;
}
