$category-img-border-color: #70766e45;

mat-card-content img {
  border: solid 1px $category-img-border-color;
}

a {
  mat-icon {
    vertical-align: text-bottom;
    margin-left: 0.1rem;
    transition: 0.2s ease-in;
  }

  &:hover {
    text-decoration: none;

    mat-icon {
      transform: translateX(30%);
    }
  }
}
