@import "~@angular/material/theming";

@mixin category-list-component-theme($theme) {
  $accent: map-get($theme, accent);

  category-list {
    a {
      transition: 0.2s ease-in;
      &:hover {
        color: mat-color($accent, A200);
      }
    }
  }
}
