$primary: mat-palette($mat-green);

// Background palette.
$custom-light-theme-background: (
  code: #f8f9fb,
  code-block: #1d1f21,
  app-bar: white,
  background: white,
  login-background: white,
  dialog: #f8f9fb
);

$light-primary: mat-palette($mat-teal, 600, 400, 700);
$light-accent: mat-palette($mat-teal, 600, 400, 700);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Remplacement de la couleur de fond par défaut
$background: map-get($light-theme, background);
$background: map_merge($background, $custom-light-theme-background);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
  )
);
