@import '~@angular/material/theming';

@import 'light-theme';
@import 'dark-theme';

@import '../../app/layouts/components/table-of-contents/table-of-contents.component.theme';
@import '../app/layouts/containers/main-layout/main-layout.component.theme';
@import '../app/features/blog/components/blog/blog.component.theme';
@import '../app/layouts/components/navbar/navbar.component.theme';
@import '../app/layouts/components/left-sidenav/left-sidenav.component.theme';
@import '../app/features/home/components/category-list/category-list.component.theme';
@import '../app/features/category/containers/category-page/category-page.component.theme';
@import '../app/features/home/containers/home-page.component.theme';
@import '../app/shared/components/card-list/card-list.component.theme';
@import '../app/layouts/components/sub-header/sub-header.component.theme';

/* Application d'un thème aux éléments HTML natifs */
@mixin native-element-theme($theme, $name) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .mat-elevation-z1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .mat-tooltip {
    background-color: #313943;
    letter-spacing: 0.03rem;
  }

  .mat-card {
    border: none;
  }

  h2 .header-link svg {
    padding-bottom: 0.4rem;
  }
  h3 .header-link svg {
    padding-bottom: 0.2rem;
  }

  button {
    &:hover .header-link svg {
      color: mat-color($accent);
    }

    .header-link {
      width: 1.2rem;
      vertical-align: unset;

      svg {
        color: #47596b;
        vertical-align: text-bottom;
      }
    }
  }

  a {
    color: mat-color($accent, lighter);

    &:hover,
    &:hover:visited {
      color: mat-color($accent, lighter);
      text-decoration: none;
    }
  }

  a:active,
  a:focus,
  a:visited {
    color: mat-color($accent, lighter);
    text-decoration: none;
  }

  code {
    @if not($is-dark) {
      border: 1px solid #edeeef;
    }
  }

  table {
    th,
    td {
      @if $is-dark {
        border: 1px solid #272829;
      } @else {
        border: 1px solid #e3e5e6;
      }
    }

    thead tr th {
      font-weight: 700;
      background-color: mat-color($background, dialog);
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: 11px;
    }

    tbody {
      tr:nth-child(even) {
        background-color: mat-color($background, dialog);

        code {
          background-color: mat-color($background, background);
        }
      }
    }
  }
}

/**
 * Applique un thème :
 * - aux composants de la librairie angular material design
 * - aux éléments natifs du HTML (a, ul, li, ...)
 * - aux composants de ce projet
 */
@mixin theme($theme, $name) {
  .#{$name}-theme {
    @include angular-material-theme($theme);
    @include native-element-theme($theme, $name);

    //* Inclure ici les mixins de chaque composant ayant un thème
    @include table-of-contents-component-theme($theme);
    @include main-layout-component-theme($theme);
    @include blog-component-theme($theme);
    @include navbar-component-theme($theme);
    @include left-sidenav-component-theme($theme);
    @include category-list-component-theme($theme);
    @include category-page-component-theme($theme);
    @include home-page-component-theme($theme);
    @include card-list-component-theme($theme);
    @include sub-header-component-theme($theme);
  }
}

@mixin material-core($font-family) {
  $mat-typography: mat-typography-config($font-family);
  @include mat-core($mat-typography); //! A inclure une seule fois
}

@include material-core($font-family);
@include theme($light-theme, 'light');
@include theme($dark-theme, 'dark');
