@include TABLET_AND_BELOW_MEDIAQUERY {
  .left-sidenav.scully-running .mat-expansion-panel-content[style] {
    visibility: hidden !important;
  }
}

.without-sub-navbar .mat-nav-list {
  max-height: calc(100% - 10px);
}
.mat-nav-list {
  transition: max-height 0.4s ease;
  max-height: calc(100% - 50px);
}
.without-sub-navbar .toc {
  max-height: 100%;
}
.toc {
  transition: max-height 0.4s ease;
  max-height: calc(100% - 40px);
}

.toc__expand-button i-feather svg {
  display: block !important;
}

button:focus {
  outline: none;
}

.mat-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      vertical-align: super;
      stroke-width: 1.5px;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spacer {
  flex: 1 1 auto;
}
