::ng-deep .main-content {
    padding: 2.5rem;
}

::ng-deep .content-wrapper {
    // background-color: #1bbe6c !important;
    background-color: white !important;
}

h1 {
    font-size: 45px !important;
    line-height: 3.5rem;
    font-weight: 500;
    margin-bottom: 5rem;
    color: black !important;
}