@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

::ng-deep code {
    font-family: 'Space Mono', monospace !important;
}

::ng-deep .code-header {
    background-color: #1d1f21;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px 4px 0 0;
}

::ng-deep .code-header .btn {
    border: 0px !important;
    background-color: rgba(255, 255, 255, 0);
    margin: 0.3em;
    margin-right: 0.5em;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 0;
}

::ng-deep .btn i {
    color: #94969b;
}

::ng-deep .btn i:hover {
    color: white;
}

::ng-deep pre {
    border: 0px !important;
    border-radius: 0px 0px 4px 4px!important;
    padding: 1.5em !important;
    padding-bottom: 2em !important;
    padding-top: 0 !important;
}

::ng-deep code {
    padding-right: 1em !important;
}