@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

::ng-deep code {
    font-family: 'Space Mono', monospace !important;
}

::ng-deep .code-header {
    background-color: #1d1f21;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px 4px 0 0;
}

::ng-deep  .code-header .btn {
    border-radius: 50%;
    margin: 0.5em;
}


::ng-deep pre {
    border: 0px !important;
    border-radius: 0px 0px 4px 4px!important;
}