@import 'abstracts/mixins';

.navbar-toolbar {
  display: flex;
  width: 100%;
  height: 100%;

  &--transparent {
    background-color: transparent !important;
    border: none !important;
  }

  .hamburger-button-container {
    display: flex;
    align-items: center;

    @include SMALLER_MONITOR_AND_ABOVE_MEDIAQUERY {
      display: none;
    }
  }

  .branding {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      background: none;
      font-size: smaller;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .spacer {
    flex: 1 0 auto;
  }

  ::ng-deep .mat-button-wrapper {
    display: flex;
    justify-content: center;

    i-feather {
      width: 1.2rem;

      svg {
        stroke-width: 2px;
        padding-top: 2px;
        vertical-align: super;
      }
    }
  }
}
