@import '~@angular/material/theming';

@mixin navbar-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .navbar-toolbar .branding {
    a,
    a:hover,
    a:visited,
    a:hover:visited {
      color: mat-color($foreground, text);
    }
  }
}
