<mat-toolbar class="navbar">
  <!-- Hamburger menu -->
  <div class="hamburger-button-container" *ngIf="showToggleSidenav">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <i-feather name="menu"></i-feather>
    </button>
  </div>

  <!-- Branding -->
  <div class="branding">
    <a mat-flat-button routerLink="/">Desnote Book</a>
  </div>

  <span class="spacer"></span>

  <!-- Search Bar -->
  <ais-instantsearch class="searchbar" *ngIf="showSearchBar" [config]="config">
    <app-searchbar
      (onCloseButtonClick)="onCloseSearchBar()"
      (onQuerySuggestionClick)="navigateToPostPage($event)"
    >
    </app-searchbar>
  </ais-instantsearch>

  <!-- Searchbar button -->
  <button mat-icon-button (click)="onShowSearchBar()">
    <i-feather name="search"></i-feather>
  </button>

  <!-- Fullscreen toggle -->
  <button mat-icon-button (click)="toggleFullscreen()">
    <i-feather name="maximize"></i-feather>
  </button>

  <!-- Theme switcher -->
  <button mat-icon-button (click)="switchTheme()">
    <i-feather *ngIf="theme === 'light'" name="moon" class="fill"></i-feather>
    <i-feather *ngIf="theme === 'dark'" name="sun" class="fill"></i-feather>
  </button>
</mat-toolbar>
