::ng-deep #toc div {
    font-size: 14px;
}

::ng-deep #toc div a {
    color: rgb(37, 37, 37);
}

::ng-deep #toc div a:hover {
    color: rgb(24, 185, 104);
    text-decoration: none;
}

#toc {
    margin: 2em;
    padding-left: 12px;
    border-left: 4px solid #1bbe6c;
}

.toc-title span {
    font-weight: bold;
}

.toc-title {
    margin-bottom: 0.5em;
}

::ng-deep #toc .h3 {
    text-indent: .25in;
}
