<section
  class="band overflow-hidden band-full-width-content"
  id=""
  data-nav-text=""
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="home_hero row text-center text-md-left py-4 py-md-5 px-4 px-xl-6"
        >
          <div class="col-md-6" style="margin-top: -1rem">
            <div
              class="d-flex mb-2 justify-content-center justify-content-md-start"
              style="align-items: center"
            >
              <h1 class="page__title">
                {{ title }}
              </h1>
            </div>

            <p class="anti-aliased page__description">
              {{ description }}
            </p>

            <p class="mt-5">
              <a
                style="display: none !important"
                class="btn btn-swagger w-75 mx-auto mb-3 d-block d-md-inline btn-swagger-outlined btn-nav mr-md-3"
                href="/tools/"
                id="swaggerToolsNewCta"
                >Explore Swagger Tools
              </a>
            </p>
          </div>

          <div class="col-md-6 d-none d-md-block"></div>
        </div>
      </div>
    </div>
  </div>
</section>
