@import 'abstracts/mixins';

.page {
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-family: $title-font-family;
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 0 !important;
    display: inline-block;
    color: white;
  }
  &__description {
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
