<mat-list>
  <div mat-subheader>Catégories</div>
</mat-list>

<mat-chip-list aria-label="Category selection">
  <mat-chip
    class="mat-elevation-z0"
    *ngFor="let category of categories"
    style="
      min-width: 5rem;
      justify-content: center;
      background-color: rgba(56, 139, 253, 0.1);
    "
    [routerLink]="'/categories/' + category.id"
  >
    <img
      class="category-icon {{ category.id }}-icon"
      src="./assets/logos/{{ category.id }}-icon.svg"
      alt="{{ category.label }} icon"
    />
    {{ category.label }}
  </mat-chip>
</mat-chip-list>
