.auth-layout-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: #212121;

    flex-direction: column;
  }