@import '~@angular/material/theming';
@import 'abstracts/mixins';

@mixin main-layout-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);

  .main-layout-container {
    .mat-sidenav-container {
      .mat-sidenav {
        .mat-expansion-panel {
          border-bottom-color: mat-color($foreground, disabled-button, 0.1);
        }
      }
    }

    // .main-content-wrapper {
    //   background: mat-color($background, card);

    //   @include SMALLER_MONITOR_AND_ABOVE_MEDIAQUERY {
    //     @if $is-dark {
    //       border: 1px solid #dadce01c;
    //     }
    //   }
    //   @include TABLET_AND_BELOW_MEDIAQUERY {
    //     border: 0;
    //   }
    // }
  }
}
