@import 'abstracts/variables';
@import 'abstracts/mixins';

// Local variables //? move to variables.scss ?
$navbar-height: 50px;
$sub-header-height: 40px;

// Styles
.main-layout-container {
  min-height: 100vh;

  .navbar {
    height: $navbar-height;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    width: 100%;
    padding: 0;

    @include SMALLER_MONITOR_AND_ABOVE_MEDIAQUERY {
      box-shadow: unset;
    }
  }

  .sub-header {
    display: flex;
    top: $navbar-height;
    position: fixed;
    height: $sub-header-height;
    z-index: 2;

    @include TABLET_AND_BELOW_MEDIAQUERY {
      display: none;
    }
  }

  .cd-auto-hide-header {
    position: fixed;
    left: 0;
    width: 100%;
    transition: transform 0.4s ease;
  }
  .cd-auto-hide-header.is-hidden {
    transform: translate3d(0, -101%, 0) !important;
  }
}

.mat-sidenav-container {
  .mat-sidenav {
    width: 268px;
    top: $navbar-height;
    position: fixed;
    display: block;
    height: 100%;
    will-change: transform;

    ::ng-deep .mat-drawer-inner-container {
      display: flex;
      app-left-sidenav,
      app-table-of-contents {
        @include SMALLER_MONITOR_AND_ABOVE_MEDIAQUERY {
          padding-top: $sub-header-height;
        }
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }

    @include SMALLER_MONITOR_AND_ABOVE_MEDIAQUERY {
      &.without-sub-navbar {
        ::ng-deep .mat-drawer-inner-container {
          app-left-sidenav,
          app-table-of-contents {
            transform: translate3d(0, -$sub-header-height, 0) !important;
          }
        }
      }
    }

    &.scully-running {
      @include TABLET_AND_BELOW_MEDIAQUERY {
        transform: translate3d(-100%, 0, 0) !important;
      }
    }

    &.left-sidenav {
      border: 0;
    }

    &.right-sidenav {
      background-color: inherit;
      border: none;

      @include SMALLER_MONITOR_AND_BELOW_MEDIAQUERY {
        transform: translate3d(100%, 0, 0) !important;
      }

      .external-toc {
        margin: 2rem 2rem 2rem 0;
      }
    }
  }

  .mat-sidenav-content {
    top: 0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: $sub-header-height 268px 0 268px;
    padding: 1.5rem;

    @include SMALLER_MONITOR_AND_BELOW_MEDIAQUERY {
      margin-right: 0 !important;
    }
    @include TABLET_AND_BELOW_MEDIAQUERY {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.main-content-wrapper {
  padding: 0;
  // border-radius: 2px;
  width: 100%;
  max-width: $medium-breakpoint;

  .main-content {
    min-height: 100vh;
  }
}
