<div class="main-layout-container">
  <!-- Navbar -->
  <app-navbar class="navbar"
    [showToggleSidenav]="!showSideMenu"
    [showFullSearchBar]="false"
    (toggleSidenav)="sidenav.toggle()"
  ></app-navbar>

  <mat-sidenav-container class="d-flex">
    <!-- Left Sidenav -->
    <mat-sidenav
      #sidenav
      [mode]="isOver ? 'over' : 'side'"
      [opened]="showSideMenu"
      class="mat-elevation-z2"
    >
      <app-left-sidenav></app-left-sidenav>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content [ngClass]="{ 'p-4': showSideMenu }">
      <div class="mat-elevation-z2 main-content-wrapper" role="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

    <!-- Right Sidenav -->
    <mat-sidenav
      mode="side"
      position="end"
      opened
      class="mat-elevation-z0 right-sidenav"
      *ngIf="showTableOfContents"
    >
      <app-table-of-contents></app-table-of-contents>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
