<div class="main-layout-container">
  <!-- Navbar -->
  <app-navbar
    class="navbar mat-elevation-z1"
    [showToggleSidenav]="true"
    (toggleSidenav)="sidenav.toggle()"
  ></app-navbar>

  <!-- Sub Header -->
  <app-sub-header
    class="sub-header cd-auto-hide-header"
    [ngClass]="{ 'is-hidden': hideNavbar }"
  ></app-sub-header>

  <mat-sidenav-container class="d-flex">
    <!-- Left Sidenav -->
    <mat-sidenav
      #sidenav
      [mode]="isScullyRunning ? 'side' : isTabletOrBelow ? 'over' : 'side'"
      [opened]="isScullyRunning ? true : isTabletOrBelow ? false : true"
      class="left-sidenav mat-elevation-z2"
      [ngClass]="{
        'without-sub-navbar': hideNavbar,
        'scully-running': isScullyRunning
      }"
    >
      <app-left-sidenav [categories]="categories$ | async"></app-left-sidenav>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="with-sub-navbar-visible p-4">
      <div class="main-content-wrapper" role="main" addCodeHeaders>
        <main class="main-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>

    <!-- Right Sidenav -->
    <mat-sidenav
      mode="side"
      position="end"
      opened
      class="mat-elevation-z0 right-sidenav with-sub-navbar-visible"
      [ngClass]="{
        'without-sub-navbar': hideNavbar
      }"
    >
      <app-table-of-contents class="external-toc"></app-table-of-contents>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
