@import "abstracts/variables";
// Local variables //? move to variables.scss ?
$navbar-height: 50px;

// Styles
.main-layout-container {
  min-height: 100vh;
  
  .navbar {
    height: $navbar-height;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 0;
  }
}

.mat-sidenav-container {
  .mat-sidenav {
    width: 268px;
    top: $navbar-height;
    position: fixed;
    display: block;

    &.right-sidenav {
      background-color: inherit;
      border: none;
    }
  }

  .mat-sidenav-content {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.main-content-wrapper {
  padding: 0;
  border-radius: 2px;
  width: 100%;
  max-width: $medium-breakpoint;
}