@import "abstracts/variables";

$code-background-color: #1d1f21;
$copy-button-color: #94969b;
$copy-button-hover-color: white;

::ng-deep .main-content {
  padding: 2.5rem;

  div.toc {
    margin-bottom: 0;
    margin-left: 0;
  }

  markdown {
    font-size: 15px;

    h1 {
      display: none;
    }
    h2 {
      padding-top: 1rem;
    }

    > pre {
      border: 0px;
      border-radius: 0px 0px 4px 4px;
      padding: 1.5em;
      padding-bottom: 2em;
      padding-top: 0;

      > code {
        padding-right: 1em;
      }
    }

    .code-header {
      background-color: $code-background-color;
      display: flex;
      justify-content: flex-end;
      border-radius: 4px 4px 0 0;

      .btn {
        border: 0;
        background-color: $code-background-color;
        margin: 0.3em 0.5em 0 0.3em;
        padding: 0;
        font-size: 1.2em;
        width: auto;

        i {
          color: $copy-button-color;

          &:hover {
            color: $copy-button-hover-color;
          }
        }
      }
    }

    code {
      padding: 2px 4px;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.9rem;
      color: $code-text-color;
      background-color: $code-bg-color;
      border-radius: 0.3rem;
    }

    pre {
      padding: 0.8rem;
      margin-top: 0;
      margin-bottom: 1rem;
      font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
      color: $code-text-color;
      word-wrap: normal;
      background-color: $code-bg-color;
      border: solid 1px $border-color;
      border-radius: 0.3rem;

      > code {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        color: $code-text-color;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
      }
    }

    .highlight {
      margin-bottom: 1rem;

      pre {
        margin-bottom: 0;
        word-break: normal;
      }
    }

    .highlight pre,
    pre {
      padding: 0.8rem;
      overflow: auto;
      font-size: 0.9rem;
      line-height: 1.45;
      border-radius: 0.3rem;
      -webkit-overflow-scrolling: touch;
    }

    pre code,
    pre tt {
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;

      &:before,
      &:after {
        content: normal;
      }
    }

    > .code-header,
    > div[id^="code-"] {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
      border-radius: 0;
    }

    > div[id^="code-"] {
      > pre {
        border-radius: 0;
        border: 0;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
    }
  }
}
