<ng-container
  *ngIf="{
    post: post$ | async
  } as observables"
>
  <div class="main-content" *ngIf="observables.post">
    <h1>{{ observables.post.title }}</h1>

    <!-- <span>
      <ng-container *ngFor="let tag of tags">
        <a class="custom-tag" href="/tags/{{ tag }}"
          ><code class="highligher-rouge">{{ tag }}</code
          >&nbsp;</a
        >
      </ng-container>
    </span> -->

    <app-table-of-contents *ngIf="showTableOfContents" limit="5">
    </app-table-of-contents>

    <markdown
      (error)="onError($event)"
      [data]="observables.post.content"
      (ready)="onReady(observables.post.content)"
    >
    </markdown>
  </div>
</ng-container>
