<ng-container
  *ngIf="{
    categories: categories$ | async
  } as observables"
>
  <!-- MAIN NAVIGATION LIST -->
  <mat-nav-list *ngIf="observables.categories">
    <!-- MAIN LIST ITEMS -->
    <ng-container *ngFor="let category of observables.categories">
      <mat-expansion-panel
        *ngIf="category.posts && category.posts.length > 0"
        class="mat-elevation-z0"
      >
        <!-- MAIN ITEM HEADERS -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ category.label }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- SUB ITEMS -->
        <a
          mat-list-item
          *ngFor="let post of category.posts"
          matTooltip="{{ post.title }}"
          matTooltipShowDelay="500"
          [routerLink]="'/tutoriels/' + post.category + '/' + post.id"
          routerLinkActive="active-link"
        >
          <span matLine>{{ post.title }}</span>
        </a>
        <a
          mat-list-item
          *ngFor="let post of category.posts"
          matTooltip="{{ post.title }}"
          matTooltipShowDelay="500"
          [routerLink]="'/tutoriels/' + post.category + '/' + post.id"
        >
          <span matLine>Les classes Mapper</span>
        </a>
        <a
          mat-list-item
          *ngFor="let post of category.posts"
          matTooltip="{{ post.title }}"
          matTooltipShowDelay="500"
          [routerLink]="'/tutoriels/' + post.category + '/' + post.id"
        >
          <span matLine>Introduction à Jakarta EE</span>
        </a>
        <a
          mat-list-item
          *ngFor="let post of category.posts"
          matTooltip="{{ post.title }}"
          matTooltipShowDelay="500"
          [routerLink]="'/tutoriels/' + post.category + '/' + post.id"
        >
          <span matLine>Téléchargement d'Eclipse</span>
        </a>
        <a
          mat-list-item
          *ngFor="let post of category.posts"
          matTooltip="{{ post.title }}"
          matTooltipShowDelay="500"
          [routerLink]="'/tutoriels/' + post.category + '/' + post.id"
        >
          <span matLine>Installation de Kuzzle</span>
        </a>
      </mat-expansion-panel>
    </ng-container>
  </mat-nav-list>
</ng-container>
