<!-- MAIN NAVIGATION LIST -->
<mat-nav-list>
  <!-- MAIN LIST ITEMS -->
  <ng-container *ngFor="let category of categories">
    <mat-expansion-panel
      *ngIf="category.postsMetadata && category.postsMetadata.length > 0"
      routerLinkActive
      #rla="routerLinkActive"
      [expanded]="rla.isActive"
      class="mat-elevation-z0"
    >
      <!-- MAIN ITEM HEADERS -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category.label }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- SUB ITEMS -->
      <a
        mat-list-item
        [disableRipple]="true"
        matRipple
        *ngFor="let postMetadata of category.postsMetadata"
        [routerLink]="postMetadata.route"
        routerLinkActive="active-link"
      >
        <span matLine>{{ postMetadata.title }}</span>
      </a>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>
