mat-card-content:hover {
  cursor: pointer;
}

mat-card {
  margin-bottom: 2em;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #606c71;
}
