.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include MONITOR_MEDIAQUERY {
    font-size: 1rem;
  }

  @include SMALLER_MONITOR_MEDIAQUERY {
    font-size: 1rem;
  }

  @include TABLET_MEDIAQUERY {
    font-size: 1rem;
  }

  @include MOBILE_MEDIAQUERY {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}