<mat-list>
  <div mat-subheader class="list-title">{{ title }}</div>

  <mat-card
    *ngFor="let item of paginatedItems"
    class="card mat-elevation-z0"
    mat-list-item
    [routerLink]="item.route"
  >
    <div *ngIf="item.header" class="card__header" mat-line>
      {{ item.header }}
    </div>
    <h2 class="card__title" mat-line>
      {{ item.title }}
    </h2>
    <div class="card__body post-description" mat-line>
      {{ item.body }}
    </div>

    <mat-chip-list
      *ngIf="item.footer"
      aria-label="Post selection"
      class="card__tags"
      mat-line
    >
      <mat-chip
        class="card__tag mat-elevation-z0"
        disableRipple
        [selectable]="false"
      >
        {{ item.footer }}
      </mat-chip>
    </mat-chip-list>
  </mat-card>
</mat-list>

<div class="d-flex justify-content-center mt-4">
  <button
    mat-flat-button
    color="primary"
    (click)="loadMoreItems()"
    [disabled]="paginatedItems?.length === items?.length"
  >
    voir plus
  </button>
</div>
