@import '~@angular/material/theming';

@mixin card-list-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  .card {
    &__body,  &__tags {
      color: mat-color($foreground, secondary-text);
    }
  }
}
