.mat-card {
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }

  .mat-chip.mat-standard-chip {
    border-radius: 0.3rem;
    
    &::after {
      display: none;
    }

    &:hover {
        cursor: pointer;
    }
  }
}
