<markdown-toolbar [for]="targetId">
  <md-bold>
    <button mat-icon-button class="btn">
      <mat-icon>format_bold</mat-icon>
    </button>
  </md-bold>
  <md-header>
    <button mat-icon-button class="btn">
      <mat-icon>title</mat-icon>
    </button>
  </md-header>
  <md-italic>
    <button mat-icon-button class="btn">
      <mat-icon>format_italic</mat-icon>
    </button>
  </md-italic>
  <md-quote>
    <button mat-icon-button class="btn">
      <mat-icon>format_quote</mat-icon>
    </button>
  </md-quote>
  <md-code>
    <button mat-icon-button class="btn">
      <mat-icon>code</mat-icon>
    </button>
  </md-code>
  <md-link>
    <button mat-icon-button class="btn">
      <mat-icon>insert_link</mat-icon>
    </button>
  </md-link>
  <md-image>
    <button mat-icon-button class="btn">
      <mat-icon>insert_photo</mat-icon>
    </button>
  </md-image>
  <md-unordered-list>
    <button mat-icon-button class="btn">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </md-unordered-list>
  <md-ordered-list>
    <button mat-icon-button class="btn">
      <mat-icon>format_list_numbered</mat-icon>
    </button>
  </md-ordered-list>
  <md-task-list>
    <button mat-icon-button class="btn">
      <mat-icon>rule</mat-icon>
    </button>
  </md-task-list>
</markdown-toolbar>
