.markdown-editor-container {
  display: flex;
  flex-direction: column;

  .example-form {
    .example-full-width {
      width: 100%;

      textarea {
        font-family: 'Fira Code';
        overflow: hidden;
        font-size: 15px;
      }
    }
  }
}
