* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: " ";
  visibility: hidden;
  pointer-events: none;
}