.toc {
  margin: 2em 2em 2em 0;
  padding-left: 12px;
  border-left-width: 4px;
  border-left-style: solid;

  &__title {
    margin-bottom: 0.5em;
    span {
      font-weight: 600;
      font-size: 15px;
    }
  }

  &__expand-button {
    mat-icon {
      margin-right: 0.1em;
    }
  }

  &__nav {
    ul {
      padding: 0;
      margin-bottom: 0.5rem;
      list-style-type: none;
      li {
        font-size: 14px;
        &.li--for-h3 {
          text-indent: 0.25in;
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
