<ng-container
  *ngIf="{
    filteredHeaders: filteredHeaders$ | async
  } as observables"
>
  <div class="toc">
    <div class="toc__title">
      <span>Sommaire</span>
    </div>

    <nav class="toc__nav">
      <ul>
        <li
          *ngFor="let header of observables.filteredHeaders"
          class="li--for-h{{ header.lvl }}"
        >
          <a routerLink="." routerLinkActive fragment="{{ header.slug }}">
            {{ header.content }}
          </a>
        </li>
      </ul>
    </nav>

    <button
      class="toc__expand-button"
      mat-icon-button
      *ngIf="limit && limit < headers.length"
      (click)="applyLimit(expanded ? limit : null)"
      aria-label="Expand button"
    >
      <mat-icon>{{ expanded ? 'expand_less' : 'more_horiz' }}</mat-icon>
    </button>
  </div>
</ng-container>
