@import "~@angular/material/theming";

@mixin table-of-contents-component-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .toc {
    border-color: mat-color($accent);

    &__nav {
      ul {
        li {
          &.li--active {
            a {
              // transition: 0.1s ease-in;
              // color: mat-color($accent, 700);
            }
          }
          &:not(.li--active) {
            a:not(:hover) {
              // transition: 0.1s ease-in;
              color: mat-color($foreground, text);
            }
          }
        }
      }
    }
  }
}
